In [5]:
import os
import pandas as pd
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

In [6]:
from dotenv import load_dotenv
load_dotenv()

True

In [7]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [8]:
# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes between now and 5 years ago.
start_date = pd.Timestamp("2016-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-09-03", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["BAC","GS","JPM", "MS", "WFC"]

# Get 5 year's worth of historical price data
df_ticker = api.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000
).df

# Display sample data
df_ticker.head()

                             BAC                                      GS  \
                            open   high    low   close    volume    open
time
2017-09-15 00:00:00-04:00  24.21  24.41  24.15  24.380  53659102  227.15
2017-09-18 00:00:00-04:00  24.42  24.77  24.41  24.700  57949992  226.30
2017-09-19 00:00:00-04:00  24.70  24.99  24.62  24.870  48571043  228.01
2017-09-20 00:00:00-04:00  24.88  25.24  24.67  25.055  73437900  229.50
2017-09-21 00:00:00-04:00  25.03  25.28  24.92  25.175  51124428  229.89

                                                              ...     MS  \
                               high     low   close   volume  ...   open
time                                                          ...
2017-09-15 00:00:00-04:00  227.2100  223.82  225.11  2663505  ...  46.39
2017-09-18 00:00:00-04:00  229.0000  225.66  227.64  1738470  ...  46.82
2017-09-19 00:00:00-04:00  230.1356  227.33  228.99  1357548  ...  47.32
2017-09-20 00:00:00-04:00  231.6500  228.50  229.76  2017239  ...  47.71
2017-09-21 00:00:00-04:00  232.1000  229.40  231.36  1292784  ...  47.80

                                                            WFC           \
                            high     low  close   volume   open     high
time
2017-09-15 00:00:00-04:00  46.66  46.140  46.59  6104015  51.28  51.6800
2017-09-18 00:00:00-04:00  47.67  46.750  47.33  6517866  51.67  52.8400
2017-09-19 00:00:00-04:00  47.97  47.155  47.68  6703543  52.72  53.5900
2017-09-20 00:00:00-04:00  48.27  47.320  47.89  7462207  53.39  54.1139
2017-09-21 00:00:00-04:00  48.49  47.460  48.27  7123712  53.55  54.2400


                             low  close    volume
time
2017-09-15 00:00:00-04:00  51.25  51.52  13483828
2017-09-18 00:00:00-04:00  51.61  52.72  16919311
2017-09-19 00:00:00-04:00  52.53  53.36  14203851
2017-09-20 00:00:00-04:00  53.28  53.75  17455458
2017-09-21 00:00:00-04:00  53.52  54.08  13638567

[5 rows x 25 columns]